html, body {
    margin: 0;
    padding: 0;
    font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* { box-sizing: border-box; }

body {
    background-image: url('/resources/img-noise-120x120.png');
    overflow-x: hidden;
}

.grid {
}

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-sizer,
.grid-image-item {
    width: 10%;
}

.grid-image-item {
    float: left;
}

/*.grid-item--width2 { width: 20%; }*/

.grid-image-item img {
    position: relative;
    display: block;
    max-width: 100%;
}

.search {
    background-color: #d43f3a;
    width: 400px;
    height: 60px;
    text-align: center;
    position: absolute;
    left: 20px;
    z-index: 3;
    color: #fff;
    border-radius: 0 0 6px 6px;
    opacity: 0.7;
    display: none;
}

.search-full {
    opacity: 1;
}

.search input {
    font-size: 29px;
    color: #fff;
    background-color: #d43f3a;
    -webkit-appearance: none;
    outline: none;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

.settings {
    background-color: #d43f3a;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 20px;
    z-index: 3;
    color: #fff;
    border-radius: 0 0 6px 6px;
    opacity: 0.7;
    transition: all .4s ease-in-out;
}

.settings-full {
    opacity: 1;
    width: 250px;
}

.switch {
    width: 180px;
    height: 50px;
    background-color: #ba3a36;
    position: absolute;
    top: -50px;
    border-radius: 2px 2px 6px 2px;
    right: 5px;
    transition: 1s;
}

.switch-full {
    animation: slidedown 1s both;
    animation-delay: 0.5s;
}

@keyframes slidedown {
    0% {
        top: -50px;
    }
    100% {
        top: 5px;
    }
}

.label1 {
    width: 50%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    background-color: #ba3a36;
    border-radius: 2px 0px 0px 2px;
}
.label2 {
    width: 50%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    background-color: #ba3a36;
    border-radius: 0px 2px 6px 0px;
    right: 0;
}

.switch input {
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 2;
}

.switch input:checked~label:nth-of-type(1) {
    color: #bbb;
    background-color: #a92723;
    box-shadow: inset 0 0 7px #7d1511;
}
.switch input:checked~label:nth-of-type(2) {
    color: #fff;
    background-color: #ba3a36;
    box-shadow: inset 0 0 0px;
}

.switch input~:checked~label:nth-of-type(1) {
    color: #fff;
    box-shadow: inset 0 0 0px;
    background-color: #ba3a36;
}
.switch input~:checked~label:nth-of-type(2) {
    color: #bbb;
    background-color: #a92723;
    box-shadow: inset 0 0 7px #7d1511;
}


.switch input:checked {
    z-index: 0;
}

.icon-setting {
    margin-top: 6px;
    margin-left: 9px;
}

.icon-search {
    padding-top: 4px;
}

.loading {
    background-color: #d43f3a;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 0px;
    z-index: 3;
    color: #fff;
    padding-top: 6px;
    padding-left: 6px;
    border-radius: 6px;
}

.nsfw_img {
    display: none !important;
}

.nsfw_img img {
    display: none !important;
}

/* Enlarging image */

.transition {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    z-index: 2;
    border-radius: 2px;
    box-shadow: 1px 1px 3px 0px #333;
}

.twit_img {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
}
